@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans-kr), var(--font-noto-sans);
}

/*브레이크 포인트*/
@theme {
  --breakpoint-pc: 1280px;
  --breakpoint-tb: 700px;
}

/*다크모드*/
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

section {
  @apply scroll-mt-12 pc:scroll-mt-0;
}

/* 애니메이션 */
@keyframes fill {
  from {
    background-size: 0% 60%;
  }
  to {
    background-size: 100% 60%;
  }
}

.marker {
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 0% 60%;
  animation: fill 0.8s ease-out forwards;
}
.marker-delay {
  animation-delay: 0.5s;
}
